/* Стили HTML
----------
*/
html {
    display: block;
}
header {
    background: #101B21;
    color: #ECE8E3;
    padding: 10px 20px;
    text-align: center;
}
body {
    font-family: "Comic Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #ECE8E3;
    color: #101B21;
    overflow-x: hidden;
    display: block;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
nav ul li {
    display: inline;
    margin-right: 70px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
nav ul li a {
    color: #ECE8E3;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    unicode-bidi: isolate;
}
section {
    margin-bottom: 50px;
    display: block;
    unicode-bidi: isolate;
}
h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
p {
    font-size: 1.1em;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
article {
    display: block;
    unicode-bidi: isolate;
}
footer {
    background: #101B21;
    color: #ECE8E3;
    padding: 10px 20px;
    text-align: center;
}
.logo {
	width: 27px; 
	height: 27px;
	margin-right: 10px;
	margin-left:10px;
}
.project-text {
	text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.card {
	display: flex;
	flex-direction: row|column;
    background: linear-gradient(0.25turn, #FF4655 65%, #ECE8E3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    max-width: 1150px;
    min-width: 1000px;
    color: #101B21;
}
.card img {
	background: linear-gradient(0.25turn, #101B21, #FF4655);
    width: 300px;
    height: 450px;
    object-fit: cover;
}
.card .text-card {
    padding: 15px;
}
.card h3 {
    padding: 15px;
    font-size: 1.5em;;
    text-align: center;
    text-transform: uppercase;
}
.card p {
	flex: 1 0 100%;
    padding: 0 15px 15px 15px;
    font-size: 1.1em;
    align-self: auto;
}
.us-card {
    background-color: #f8f9fa;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}
